In [1]:
import pandas as pd

In [2]:
root_path = 'C:/Users/Eze/Documents/Skills Acquisition/Forage/AccentureDA/datasets/'
content = pd.read_csv(root_path + 'Content.csv')
reactions = pd.read_csv(root_path + 'Reactions.csv')
reaction_types = pd.read_csv(root_path + 'ReactionTypes.csv')

In [3]:
content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [4]:
reactions.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [5]:
reaction_types.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

# Check for missing values in the datasets

check for missing values, total sum of missing values and drop/remove rows that have missing values

### Content dataset

In [6]:
content.isnull()

     Unnamed: 0  Content ID  User ID   Type  Category    URL
0         False       False    False  False     False  False
1         False       False    False  False     False  False
2         False       False    False  False     False  False
3         False       False    False  False     False  False
4         False       False    False  False     False  False
..          ...         ...      ...    ...       ...    ...
995       False       False    False  False     False   True
996       False       False    False  False     False  False
997       False       False    False  False     False  False
998       False       False    False  False     False  False
999       False       False    False  False     False  False

[1000 rows x 6 columns]

In [7]:
content.isnull().values.any()

True

In [8]:
content.isnull().sum()

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [9]:
content.isnull().sum().sum()

199

In [10]:
content_data = content.dropna(axis = 0, how='any' )

In [11]:
content_data.isnull().sum()

Unnamed: 0    0
Content ID    0
User ID       0
Type          0
Category      0
URL           0
dtype: int64

### Reaction dataset

In [12]:
reactions.isnull().sum()

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [13]:
reactions.isnull().sum().sum()

3999

In [14]:
reaction_data = reactions.dropna(axis = 0, how='any' )

In [15]:
reaction_data.isnull().sum()

Unnamed: 0    0
Content ID    0
User ID       0
Type          0
Datetime      0
dtype: int64

### Reaction types dataset

In [16]:
reaction_types.isnull().sum()

Unnamed: 0    0
Type          0
Sentiment     0
Score         0
dtype: int64

In [17]:
#reactiontypes_data = reaction_types.dropna(axis = 0, how='any' )

In [18]:
#reactiontypes_data.isnull().sum()
reactiontypes_data = reaction_types

# Check and change datatype of some values within a column

### Contents dataset

In [19]:
content_data.dtypes

Unnamed: 0     int64
Content ID    object
User ID       object
Type          object
Category      object
URL           object
dtype: object

In [20]:
content_data.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [21]:
content_data.Category.dtype

dtype('O')

In [36]:
col = 'Category'
print(content_data[col].unique())

['Studying' 'healthy eating' 'technology' 'food' 'dogs' 'soccer'
 'public speaking' 'tennis' 'travel' 'education' 'studying' 'science'
 'veganism' 'cooking' 'animals' 'fitness' 'culture']

In [37]:
content_data['Category']= content_data['Category'].replace('"', '', regex=True)
content_data['Category']=content_data['Category'].str.lower()
print(content_data[col].unique())

['studying' 'healthy eating' 'technology' 'food' 'dogs' 'soccer'
 'public speaking' 'tennis' 'travel' 'education' 'science' 'veganism'
 'cooking' 'animals' 'fitness' 'culture']

<ipython-input-37-a4026968048e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_data['Category']= content_data['Category'].replace('"', '', regex=True)
<ipython-input-37-a4026968048e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_data['Category']=content_data['Category'].str.lower()

In [38]:
content_data.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

### Reactions dataset

In [39]:
reaction_data.dtypes

Unnamed: 0     int64
Content ID    object
User ID       object
Type          object
Datetime      object
dtype: object

In [40]:
reaction_data.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
5,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,interested,2020-08-23 12:25:58

### Reaction types dataset

In [41]:
reactiontypes_data.dtypes

Unnamed: 0     int64
Type          object
Sentiment     object
Score          int64
dtype: object

In [42]:
reactiontypes_data.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

# Delete irrelevant columns

Delete columns which are not relevant to the analysis

### Contents dataset

In [43]:
cont_data = content_data.drop(['Unnamed: 0', 'URL', 'User ID'], axis = 1)
cont_data.rename(columns={'Type':'Content Type'}, inplace=True)
cont_data.head()

                             Content ID Content Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2        photo        studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo  healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f        photo  healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6        photo      technology
4  01ab84dd-6364-4236-abbb-3f237db77180        video            food

### Reaction dataset

In [44]:
react_data = reaction_data.drop(['Unnamed: 0', 'User ID'], axis = 1)
react_data.rename(columns={'Type':'Reaction Type'}, inplace=True)
react_data.head()

                             Content ID Reaction Type             Datetime
1  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2020-11-07 09:43:50
2  97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike  2021-06-17 12:22:51
3  97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  2021-04-18 05:13:58
4  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2021-01-06 19:13:01
5  97522e57-d9ab-4bd6-97bf-c24d952602d2    interested  2020-08-23 12:25:58

### Reaction types dataset

In [45]:
rtype_data = reactiontypes_data.drop('Unnamed: 0', axis = 1)
rtype_data.rename(columns={'Type':'Reaction Type'}, inplace=True)
rtype_data.head()

  Reaction Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30

## Data Modelling

Merge 3 dataframes with the reaction table as the base table. 
figure out top 5 performing categories

In [46]:
merged_dataset = react_data.merge(cont_data,how='left').merge(rtype_data,how='left')
merged_dataset.head()

,Content ID,Reaction Type,Datetime,Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,studying,negative,10
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,studying,negative,15
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,studying,negative,0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,studying,positive,30

In [47]:
group_datascoresum = merged_dataset.groupby('Category').agg({"Score" : "sum"}).reset_index().sort_values(by='Score', ascending=False)
group_datascoresum.head()

          Category  Score
14          travel  53935
9          science  53657
7   healthy eating  52745
0          animals  52443
1          cooking  49681

In [48]:
group_datareactioncount = merged_dataset.groupby('Category').agg({"Reaction Type" : "count"}).reset_index().sort_values(by='Reaction Type', ascending=False)
group_datareactioncount.head()

          Category  Reaction Type
14          travel           1368
9          science           1351
0          animals           1323
7   healthy eating           1303
1          cooking           1277

## save final dataset as csv or excel

In [49]:
final_top5data = group_datascoresum.head()
final_topcatdata = group_datascoresum

In [35]:
#merged_dataset.to_csv(r'C:\Users\Eze\Documents\Skills Acquisition\Forage\AccentureDA\datasets\finaldata.csv')
#merged_dataset.to_excel(r'C:\Users\Eze\Documents\Skills Acquisition\Forage\AccentureDA\datasets\finaldata.xlsx')

In [50]:
final_top5data.head()

          Category  Score
14          travel  53935
9          science  53657
7   healthy eating  52745
0          animals  52443
1          cooking  49681

In [51]:
final_topcatdata

           Category  Score
14           travel  53935
9           science  53657
7    healthy eating  52745
0           animals  52443
1           cooking  49681
2           culture  47710
6              food  47576
12       technology  46683
4         education  45103
13           tennis  43612
10           soccer  42031
5           fitness  41829
3              dogs  41816
15         veganism  38513
8   public speaking  37730
11         studying  35861

In [52]:
#final_top5data.to_csv(r'C:\Users\Eze\Documents\Skills Acquisition\Forage\AccentureDA\datasets\final_top5data.csv')
#final_topcatdata.to_csv(r'C:\Users\Eze\Documents\Skills Acquisition\Forage\AccentureDA\datasets\final_topcatdata.csv')

In [54]:
writer = pd.ExcelWriter(r'C:\Users\Eze\Documents\Skills Acquisition\Forage\AccentureDA\datasets\final_cleantopdata.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
merged_dataset.to_excel(writer, sheet_name='cleaned_dataset')
final_top5data.to_excel(writer, sheet_name='Top_5_categories')
final_topcatdata.to_excel(writer, sheet_name='all_categories_byscore')

writer.close()